<IfModule mod_rewrite.c>
    #RewriteEngine On
   	#RewriteCond %{REQUEST_FILENAME} !-f
   	#RewriteRule ^ index.php [QSA,L]

    RewriteEngine on
    RewriteBase /siscec/
    #RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ index.php/$1 [L] #Lavavel PHP Framework
    RewriteRule . index.php [L] #WordPress style
    #RewriteRule ^ index.php [QSA,L] #outro style

</IfModule>

#Header add Access-Control-Allow-Credentials "true"
#Header add Access-Control-Allow-Origin "http://192.168.133.12"
#Header add Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
#Header add Access-Control-Allow-Methods "GET,PUT,POST,DELETE,PATCH,OPTIONS"

# Habilita passagem de parametro de autorização no header http (Appache)
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]