/*loading*/
.loadingOuter{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background: rgba(255, 255, 255,0.9);
}
.loadingInner{
    height:40%;
    width: 40%;
    position: relative;
    top: 20%;
    background: rgba(255, 255, 255,0);
    margin:0 auto;
    text-align: center;
}
.loadingText{
    color: #6b6b6b;
}
.loadingImage{
    height: 100%;
}

